<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="src/autoload.php" colors="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <testsuites>
    <testsuite name="Unit Tests">
      <directory suffix="test.php">tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
